$topheaderbg:#4C6986;
$buttonbg:#4782BC;
$cardbg:#7EA7D0;
$navbg:#F8F8F8;
$activebg:#4782BC;
$bordercolor:#E8E8E8;
$openbtn:#88EA86;
$white:#ffffff;
$headermenu:#3E3E3E;
$black:#1B1B1B;
$searchbg:#F8F8F8;
$searchtext:#CFCFCF;
$pagination:#C6C6C6;
$actiondot: #C9C9C9;
$formboderbg:#e2e2e2;
$tabdisactivecolor:#8CB7E0;
$cardfooterbg:#F1F1F1;
$condidateboxbg1:#C9DFF4;
$boxfirst:#ff8d8d;
$boxfirst1:#8DFFB4;
$boxfirst2:#FFBD81;
$boxfirst3:#94E5FF;
$boxfirst4:#8DA0FF;
$boxfirst41:#FF1321;
$boxfirst5:#FF9197;
$boxfirst6:#FFC3A2;
$loginbg:#dfe9f5;
$logininput:#dfe9f5;
$condidateboxbg2:#FFB1B1;
$tablebuttonbg:#92F390;



$headershadow: 0px 4px 6px rgba(234, 234, 234, 0.6);
$invitation:0px 0px 8px rgba(193, 193, 193, 0.35);
$tdshadow:0px 0px 8px rgba(193, 193, 193, 0.35);
$dashbordshadow: 0px 0px 8px rgba(193, 193, 193, 0.35);
$loginshadow:0 20px 35px rgba(0, 0, 0, 0.1);