@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Poppins:wght@200;300;400;500&display=swap");
header .top_header {
  background-color: #4C6986;
}
header .top_header .top_header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top_header .top_header_box .logo {
  padding: 5px 0px 0px;
}
header .top_header .top_header_box .menu_bar.navbar-dark {
  display: none;
}
header .top_header .top_header_box .menu_bar button.navbar-toggler.my-2 {
  border: none;
}
header .top_header .top_header_box .menu_bar button.navbar-toggler.my-2:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0rem;
}
header .top_header .top_header_box .profile_box .setting_notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top_header .top_header_box .profile_box .setting_notification .notification {
  margin-left: 35px;
}
header .top_header .top_header_box .profile_box .setting_notification .notification a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
header .top_header .top_header_box .profile_box .setting_notification .notification .profile_dropdown .dropdown-item.active, header .top_header .top_header_box .profile_box .setting_notification .notification .profile_dropdown .dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #4c6986;
}
header .top_header .top_header_box .profile_box .setting_notification .notification .profile_dropdown .dropdown-menu.show {
  border: 1px solid rgb(76, 105, 134);
}
header .top_header .top_header_box .profile_box .setting_notification .notification .profile_dropdown .dropdown-menu.show a {
  color: black;
  font-size: 15px;
}
header .top_header .top_header_box .profile_box .setting_notification .notification .profile_dropdown a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top_header .top_header_box .profile_box .setting_notification .notification .profile_dropdown a .media {
  display: flex;
  align-items: center;
}
header .top_header .top_header_box .profile_box .setting_notification .notification .profile_dropdown a .media img.rounded {
  margin-right: 8px;
  width: 40px;
}
header .top_header .top_header_box .profile_box .setting_notification .notification .profile_dropdown a .media .media-body {
  margin-right: 10px;
}
header .top_header .top_header_box .profile_box .setting_notification .notification .profile_dropdown a .media .media-body h4 {
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
}
header .top_header .top_header_box .profile_box .setting_notification .notification .profile_dropdown a .media .media-body p {
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
header .buttom_footer {
  background-color: #F8F8F8;
}
header .buttom_footer ul li {
  text-align: center;
  margin: 0px 30px;
}
header .buttom_footer ul li .dropdown-menu.mega-menu.p-3 .drop_down_mega_menu .mega_menu_box ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
header .buttom_footer ul li .dropdown-menu.mega-menu.p-3 .drop_down_mega_menu .mega_menu_box ul li {
  text-align: left;
  margin: 0px;
}
header .buttom_footer ul li .dropdown-menu.mega-menu.p-3 .drop_down_mega_menu .mega_menu_box ul li a {
  text-decoration: none;
  font-size: 15px;
}
header .buttom_footer ul li a.nav-link.active {
  border-bottom: 4px solid #4782BC;
  border-radius: 1px;
}
header .buttom_footer ul li a.nav-link.active img.active {
  display: block;
  margin: 0px auto;
}
header .buttom_footer ul li a.nav-link.active img.disactive {
  display: none;
  margin: 0px auto;
}
header .buttom_footer ul li a {
  color: #1B1B1B !important;
  padding: 12px 0px 4px !important;
}
header .buttom_footer ul li a img.active {
  display: none;
  margin: 0px auto;
}
header .buttom_footer ul li a img.disactive {
  display: block;
  margin: 0px auto;
}

@media (max-width: 991.98px) {
  header .top_header .menu_bar.navbar-dark {
    display: none;
  }
  header .buttom_footer {
    background-color: #F8F8F8;
  }
  header .buttom_footer .navbar-collapse {
    display: block;
  }
  header .buttom_footer .navbar-collapse .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  header .top_header .menu_bar.navbar-dark {
    display: block !important;
  }
  header .top_header .profile_box {
    display: none;
  }
  header .buttom_footer .navbar-collapse.show {
    display: block;
  }
  header .buttom_footer .navbar-collapse {
    display: none;
  }
  header .buttom_footer .navbar-collapse .navbar-nav {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    background: #f8f8f8;
    z-index: 99999;
  }
}
section {
  padding: 55px 0px;
}
section .question_bank.problem_page_sec .general_field_btn.text-center button.save {
  background: #4782BC;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 8px 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
section .question_bank.problem_page_sec .problem_page {
  box-shadow: 0px 4px 10px rgba(208, 219, 232, 0.25);
  padding-bottom: 1px;
}
section .question_bank.problem_page_sec .Problem_Details.question_bank_tab {
  border: 1px solid #E8E8E8;
  padding: 15px;
  margin-top: 25px;
}
section .question_bank .question_bank_tab div.tab-content {
  margin-top: 20px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table {
  margin-top: 15px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table .table_scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table .pagination_box .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 55px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table .pagination_box .pages {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table .pagination_box .page {
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: #C6C6C6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table .pagination_box .page:hover {
  color: #4782BC;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table .pagination_box .active {
  color: #4782BC;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table .pagination_box .btn.active {
  background-color: #4782BC;
  border: 1px solid #4782BC;
  color: #ffffff;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table .pagination_box .btn {
  border: 1px solid #C6C6C6;
  color: #C6C6C6;
  height: 42px;
  width: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table thead {
  border: 1px solid #E8E8E8;
  background: #E5E5E5;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table thead tr th {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 10px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody {
  border: 1px solid #E8E8E8;
  border-top: 0px solid currentColor;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr {
  border-bottom: 1px solid #E8E8E8;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 10px;
  vertical-align: middle;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td p.pend {
  margin: 0px;
  color: #FFBD81;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td p.rejec {
  margin: 0px;
  color: #FF8D8D;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td p.accept {
  margin: 0px;
  color: #88EA86;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td .condidate_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td .condidate_box .condidate_name h4 {
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  color: #1B1B1B;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td .condidate_box .condidate_name p {
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  color: #1B1B1B;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td .condidate_box .condidate_icon.ac_1 {
  background: #8DFFB4;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td .condidate_box .condidate_icon.ac_2 {
  background: #8DA0FF;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td .condidate_box .condidate_icon.ac_3 {
  background: #FF1321;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td .condidate_box .condidate_icon {
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #FFBD81;
  text-align: center;
  margin-right: 20px;
  color: #ffffff;
  border-radius: 50%;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table table tbody tr td .condidate_box .condidate_icon p {
  margin: 0px;
  font-weight: 600;
  font-size: 20px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .recent_test .recent_test_heading.filters p.clear {
  font-weight: 400;
  font-size: 14px;
  color: #4782BC;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .question_bank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .question_bank .search .wrap {
  width: 360px;
  margin: 0px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .question_bank .download_report button.report {
  background: none;
  border-radius: 50px;
  padding: 6px 25px;
  border: 2px solid #4782BC;
  font-weight: 500;
  font-size: 14px;
  color: #1B1B1B;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .question_bank .download_report button.report img {
  margin-right: 5px;
  width: 16px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #1B1B1B;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general small {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #C6C6C6;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form {
  margin-top: 25px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field_btn.text-center button.save {
  background: #4782BC;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 8px 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field textarea {
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  height: 391px;
  resize: none;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field textarea:focus {
  background-color: #fff;
  border-color: #4782BC;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check {
  display: inline-block;
  margin-right: 70px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check [type=radio]:checked,
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check [type=radio]:checked + label,
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check [type=radio]:checked + label:before,
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check [type=radio]:checked + label:after,
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check [type=radio]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #E3E3E3;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check [type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .form-check [type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field select.form-select {
  height: 48px;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field select.form-select:focus {
  background-color: #fff;
  border-color: #4782BC;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field small {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #C6C6C6;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field input {
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field input:focus {
  background-color: #fff;
  border-color: #4782BC;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .skill_active {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 35px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .skill_active ul {
  padding: 0px;
  list-style-type: none;
  margin: 0px;
  box-shadow: none;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .skill_active ul li {
  display: inline-block;
  margin-right: 25px;
  margin-left: 0;
  margin-top: 15px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .skill_active ul li a {
  text-decoration: none;
  color: #000000;
  border: 1px solid #E8E8E8;
  border-radius: 7px;
  padding: 8px 18px;
  font-size: 14px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .date_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field .date_time input {
  width: 48%;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field label {
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  margin-bottom: 10px;
  color: #1B1B1B;
  width: 100%;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field label small {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #C6C6C6;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 {
  border: 1px solid #E8E8E8;
  padding: 20px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 .time_setting_heading {
  border-top: 1px solid #E8E8E8;
  padding-top: 24px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 .info {
  padding: 8px 20px;
  background: #F8F8F8;
  border-radius: 6px;
  margin-top: 10px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 .info p {
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1B1B1B;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 .info p img {
  margin-right: 6px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 .test_sub {
  margin-top: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E8E8E8;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 .test_sub h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 .test_sub ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  box-shadow: none;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 .test_sub ul li {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
section .question_bank .question_bank_tab div.tab-content .Problems_tab .section_1 .test_sub ul li img {
  width: 18px;
  margin-right: 5px;
}
section .question_bank .question_bank_tab ul {
  justify-content: center;
  border-bottom: 0px solid #dee2e6;
  box-shadow: 0px 4px 10px rgba(208, 219, 232, 0.25);
}
section .question_bank .question_bank_tab ul li {
  margin: 0px 12px 0px;
}
section .question_bank .question_bank_tab ul li button.nav-link {
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #3E3E3E;
}
section .question_bank .question_bank_tab ul li button.nav-link:hover {
  border: none;
}
section .question_bank .question_bank_tab ul li button.active {
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1B1B1B;
  border-bottom: 2px solid #4782BC !important;
}
section .question_bank .dashboard_heading {
  align-items: baseline;
}
section .question_bank .dashboard_heading h3 {
  font-size: 25px;
}
section .question_bank .dashboard_heading h3 button.open.close.op {
  background: #88EA86;
}
section .question_bank .dashboard_heading h3 button.open.close {
  border: none;
  background: #ff8d8d;
  color: #ffffff;
  border-radius: 50px;
  font-size: 14px;
  padding: 8px 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}
section .question_bank .dashboard_heading ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
section .question_bank .dashboard_heading ul li {
  display: inline-block;
  margin-right: 22px;
}
section .question_bank .dashboard_heading ul li img {
  width: 18px;
  margin-right: 5px;
}
section .search .search {
  width: 100%;
  position: relative;
  display: flex;
}
section .search .searchTerm {
  width: 655px;
  height: 65px;
  background: #ffffff;
  border: 1px solid #E8E8E8;
  border-right: 0px;
  border-radius: 16px 0px 0px 16px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1B1B1B;
}
section .search .searchTerm:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
section .search .searchButton {
  height: auto;
  border: 1px solid #E8E8E8;
  border-left: 0px;
  text-align: center;
  color: #1B1B1B;
  padding-right: 25px;
  background: #ffffff;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  font-size: 20px;
}
section .search .wrap {
  width: 50%;
  margin: 0px auto 30px;
}
section .dashboard_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
section .dashboard_heading h3 {
  margin: 0px;
  font-weight: 600;
  font-size: 30px;
  color: #1B1B1B;
}
section .dashboard_heading .create_test button.test.mr-2 {
  margin-right: 10px;
  margin-bottom: 15px;
}
section .dashboard_heading .create_test button.test {
  background: #4782BC;
  border: none;
  color: #ffffff;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  padding: 7px 25px;
}
section .dashboard_heading .create_test button.test img {
  width: 22px;
  margin-right: 5px;
}
section .recent_test .recent_test_heading.filters {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1B1B1B;
}
section .recent_test .recent_test_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #F8F8F8;
}
section .recent_test .recent_test_heading p {
  margin: 0px;
}
section .recent_test .recent_test_body.Activity_Feed {
  padding: 25px 20px 35px;
}
section .recent_test .recent_test_body.Activity_Feed .feed_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  padding: 15px 0px;
}
section .recent_test .recent_test_body.Activity_Feed .feed_box .condidate_box {
  margin: 0px;
}
section .recent_test .recent_test_body.Activity_Feed .feed_box .time p {
  margin: 0px;
  font-weight: 400;
  font-size: 16px;
  color: #3E3E3E;
}
section .recent_test .recent_test_body.ques_bank {
  padding: 22px 20px;
}
section .recent_test .recent_test_body.ques_bank .recent_test_card .ques_bank_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .recent_test .recent_test_body.ques_bank .recent_test_card .ques_bank_box .question_left .top {
  margin-bottom: 15px;
}
section .recent_test .recent_test_body.ques_bank .recent_test_card .ques_bank_box .question_right {
  width: 30%;
  text-align: right;
}
section .recent_test .recent_test_body.ques_bank .recent_test_card .ques_bank_box .question_right ul li {
  margin: 0px 0px 0px 20px;
}
section .recent_test .recent_test_body.ques_bank .recent_test_card .ques_bank_box .question_right ul li a img {
  width: auto;
}
section .recent_test .recent_test_body.filters_box {
  padding: 20px;
}
section .recent_test .recent_test_body.filters_box .conducted ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  box-shadow: none;
}
section .recent_test .recent_test_body.filters_box .conducted ul li {
  border-bottom: 1px dashed #E8E8E8;
  padding: 8px 0px;
}
section .recent_test .recent_test_body.filters_box .conducted ul li:last-child {
  border-bottom: 0px dashed #E8E8E8;
}
section .recent_test .recent_test_body.filters_box .conducted ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1B1B1B;
}
section .recent_test .recent_test_body.filters_box .conducted h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3E3E3E;
  margin-bottom: 9px;
}
section .recent_test .recent_test_body.filters_box .conducted p {
  margin: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1B1B1B;
}
section .recent_test .recent_test_body.filters_box .dropdown .dropdown-menu {
  position: relative !important;
  border: 0px;
  box-shadow: none;
  padding: 0px;
  background: none;
}
section .recent_test .recent_test_body.filters_box .dropdown .dropdown-menu li .dropdown-item:focus,
section .recent_test .recent_test_body.filters_box .dropdown .dropdown-menu li .dropdown-item:hover {
  color: #1e2125;
  background-color: rgba(255, 255, 255, 0);
}
section .recent_test .recent_test_body.filters_box .dropdown .menu_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
section .recent_test .recent_test_body.filters_box .dropdown .menu_heading p {
  font-weight: 400;
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
}
section .recent_test .recent_test_body.filters_box .question_filter {
  background: #FFFFFF;
  box-shadow: 0px 0px 6px #dbdbdb;
  border-radius: 8px;
  padding: 15px 15px;
  margin-bottom: 20px;
}
section .recent_test .recent_test_body.filters_box .question_filter a {
  text-decoration: none;
}
section .recent_test .recent_test_body.filters_box .question_filter a .ques_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .recent_test .recent_test_body.filters_box .question_filter a .ques_type p {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: black;
}
section .recent_test .recent_test_body.problem_type ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
section .recent_test .recent_test_body.problem_type ul li {
  display: inline-block;
  margin: 6px 7px;
}
section .recent_test .recent_test_body.problem_type ul li a {
  color: black;
  text-decoration: none;
  background: #E8E8E8;
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 6px 10px;
}
section .recent_test .recent_test_body.difficulty_box .diff_range {
  margin-bottom: 45px;
}
section .recent_test .recent_test_body.difficulty_box .text_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}
section .recent_test .recent_test_body.difficulty_box .text_sec p {
  margin: 0px;
  font-weight: 500;
  font-size: 12px;
  color: #1B1B1B;
}
section .recent_test .recent_test_body.difficulty_box .container {
  height: 15px;
  padding: 0px;
  margin: 0 auto 8px auto;
  background: #F3F3F3;
  border-radius: 25px;
}
section .recent_test .recent_test_body.difficulty_box .dragger {
  width: 26px;
  height: 26px;
  top: -8px !important;
  color: #FFF;
  font-weight: 600;
  line-height: 70px;
  background-color: #4782bc;
  border-radius: 25px;
}
section .recent_test .recent_test_body.difficulty_box .progress {
  width: 0px;
  background-color: #4c6986;
  height: 15px !important;
  border-radius: 25px;
}
section .recent_test .recent_test_body {
  border: 1px solid #E8E8E8;
  padding: 35px 20px;
}
section .recent_test .recent_test_body .filter_checkbox {
  margin-bottom: 28px;
}
section .recent_test .recent_test_body .filter_checkbox p {
  margin: 0px;
  font-size: 14px;
  padding-inline-start: 46px;
}
section .recent_test .recent_test_body .filter_checkbox ul {
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px;
  padding-inline-start: 46px;
}
section .recent_test .recent_test_body .filter_checkbox ul li {
  font-size: 13px;
}
section .recent_test .recent_test_body .filter_checkbox .form-group {
  display: block;
  margin-bottom: 15px;
}
section .recent_test .recent_test_body .filter_checkbox .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
section .recent_test .recent_test_body .filter_checkbox .form-group label {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1B1B1B;
  margin-left: 28px;
}
section .recent_test .recent_test_body .filter_checkbox .form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  padding: 10px;
  width: 28px;
  height: 28px;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 12px;
  left: -40px;
  top: 6px;
}
section .recent_test .recent_test_body .filter_checkbox .form-group input:checked + label:after {
  content: "";
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: -28px;
  width: 6px;
  height: 14px;
  border: solid #4782BC;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
section .recent_test .recent_test_body .invite_candidates_btn {
  text-align: center;
}
section .recent_test .recent_test_body .invite_candidates_btn button.condidate {
  background: #4782BC;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
}
section .recent_test .recent_test_body .invite_candidates_btn button.condidate img {
  margin-right: 5px;
  width: 20px;
}
section .recent_test .recent_test_body .condidate_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 31.1px;
}
section .recent_test .recent_test_body .condidate_box .condidate_name h4 {
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  color: #1B1B1B;
}
section .recent_test .recent_test_body .condidate_box .condidate_name p {
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  color: #1B1B1B;
}
section .recent_test .recent_test_body .condidate_box .condidate_icon.ac {
  background: #FFB1B1;
}
section .recent_test .recent_test_body .condidate_box .condidate_icon.ac1 {
  background: #C9DFF4;
}
section .recent_test .recent_test_body .condidate_box .condidate_icon.ac2 {
  background: #8DFFB4;
}
section .recent_test .recent_test_body .condidate_box .condidate_icon.ac3 {
  background: #8DA0FF;
}
section .recent_test .recent_test_body .condidate_box .condidate_icon.ac4 {
  background: #FF1321;
}
section .recent_test .recent_test_body .condidate_box .condidate_icon {
  line-height: 55px;
  background: #FFBD81;
  text-align: center;
  margin-right: 20px;
  color: #ffffff;
  border-radius: 50%;
}
section .recent_test .recent_test_body .condidate_box .condidate_icon p {
  width: 55px;
  height: 55px;
  margin: 0px;
  font-weight: 600;
  font-size: 20px;
}
section .recent_test .recent_test_body .recent_test_card {
  padding-bottom: 15px;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 20px;
}
section .recent_test .recent_test_body .recent_test_card .top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
section .recent_test .recent_test_body .recent_test_card .top h3 {
  margin: 0px 35px 0px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1B1B1B;
}
section .recent_test .recent_test_body .recent_test_card .top button.open.close {
  background: #FF8F88;
}
section .recent_test .recent_test_body .recent_test_card .top button.open {
  background: #88EA86;
  border-radius: 40px;
  border: none;
  color: #ffffff;
  padding: 2px 28px;
  font-weight: 500;
  font-size: 14px;
}
section .recent_test .recent_test_body .recent_test_card ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
section .recent_test .recent_test_body .recent_test_card ul li {
  display: inline-block;
  margin-right: 12px;
  font-weight: 400;
  font-size: 14px;
  color: #3E3E3E;
}
section .recent_test .recent_test_body .recent_test_card ul li img {
  width: 18px;
  margin-right: 5px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  background-color: #ffffff;
  color: #1B1B1B;
}

@media (max-width: 1366.98px) {
  section .recent_test .recent_test_body .recent_test_card ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  section .recent_test .recent_test_body .recent_test_card ul li {
    display: inline-block;
    margin-right: 7px;
    font-weight: 400;
    font-size: 13px;
    color: #3E3E3E;
  }
}
@media (max-width: 991.9px) {
  section .question_bank .question_bank_tab ul li {
    margin: 0px 0px 0px;
  }
  section .question_bank .question_bank_tab ul li button.nav-link {
    font-size: 15px;
  }
  section .dashboard_heading {
    display: flex;
  }
  section .dashboard_heading .question_heading {
    margin-bottom: 15px;
  }
}
@media (max-width: 767.9px) {
  section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field textarea {
    height: auto;
  }
  section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .condidate_table .pagination_box .page {
    height: 15px;
    width: 15px;
  }
  section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .question_bank {
    display: block;
  }
  section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .question_bank .search {
    margin-bottom: 15px;
  }
  section .question_bank .question_bank_tab div.tab-content .Problems_tab.Candidates .question_bank .search .wrap {
    width: 100%;
    margin: 0px;
  }
  section .question_bank_tab .nav {
    display: block;
  }
  section .dashboard_heading {
    display: flex;
  }
  section .dashboard_heading .question_heading {
    margin-bottom: 15px;
  }
  section .recent_test .recent_test_body .filter_checkbox p {
    padding-inline-start: 0px;
  }
  section .recent_test .recent_test_body .filter_checkbox ul {
    padding-inline-start: 0px;
  }
  section .recent_test .recent_test_body .condidate_box .time {
    width: 115px;
    text-align: right;
  }
  section .recent_test .recent_test_body .condidate_box .time p {
    font-size: 15px;
  }
}
@media (max-width: 555.9px) {
  section .question_bank .dashboard_heading h3 button.open.close {
    margin-left: 0;
  }
  section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field input {
    font-size: 14px;
  }
  section .question_bank .question_bank_tab div.tab-content .Problems_tab .general .general_form .general_field label {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }
  section .recent_test .recent_test_body.ques_bank .recent_test_card .ques_bank_box .question_right {
    width: 30%;
    text-align: right;
  }
  section .recent_test .recent_test_body.ques_bank .recent_test_card .ques_bank_box .question_right ul li {
    margin: 0px 2px;
  }
  section .recent_test .recent_test_body.ques_bank .recent_test_card .ques_bank_box .question_right ul li a img {
    width: 20px;
  }
  section .recent_test .recent_test_body.Activity_Feed .feed_box .time p {
    width: 75px;
    font-size: 12px;
    line-height: 16px;
  }
  section .recent_test .recent_test_body.Activity_Feed .feed_box .condidate_box .condidate_name p {
    line-height: 22px;
    font-size: 13px;
  }
  section .recent_test .recent_test_body.Activity_Feed .feed_box .condidate_box .condidate_icon p {
    width: 55px;
    height: 55px;
  }
  section .recent_test .recent_test_body .recent_test_card .top h3 {
    font-weight: 500;
    font-size: 16px;
  }
}
@media screen and (max-width: 555.9px) and (max-width: 992px) {
  section .dashboard_heading {
    display: flex;
  }
}
@media (max-width: 555.9px) {
  section .dashboard_heading h3 {
    margin: 0px;
    font-weight: 500;
    font-size: 22px;
    color: #1B1B1B;
  }
}
@media (max-width: 555.9px) {
  section .dashboard_heading .create_test button.test {
    font-size: 13px;
    padding: 6px 25px;
  }
}
@media (max-width: 400.9px) {
  section .dashboard_heading .create_test button.test.mr-2 {
    margin-bottom: 15px;
  }
  section .search .wrap {
    width: 100%;
    margin: 0px auto 30px;
  }
  section .dashboard_heading {
    display: block;
  }
  section .dashboard_heading h3 {
    margin-bottom: 18px;
  }
}
@media (max-width: 375.9px) {
  section .recent_test .recent_test_body.Activity_Feed .feed_box .time p {
    margin-left: 5px;
  }
  section .recent_test .recent_test_body .condidate_box .condidate_name h4 {
    font-size: 15px;
  }
  section .recent_test .recent_test_body .condidate_box .condidate_name p {
    font-size: 13px;
  }
  section .recent_test .recent_test_body .condidate_box .condidate_icon p {
    width: 55px;
    height: 55px;
  }
  section .recent_test .recent_test_body .recent_test_card .top {
    display: block;
  }
  section .recent_test .recent_test_body .recent_test_card .top h3 {
    margin-bottom: 15px;
    margin-right: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
